<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chapter }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/tinymce/tinymce.min.js"></script>
    <style>
        textarea {
          width: 420px;
          height: 210px;
        }
    </style>
</head>
<body>
<h1>{{ chapter }}</h1>
<a href="/">INICIO</a>
<h3>Folders</h3>
{% for folder in folders %}
    <p><a href="/chapter/{{ chapter }}{{ folder }}/">{{ folder }}</a></p>
{% endfor %}

<h3>Files</h3>
{% for file_name, file in files %}
    <p>
        <h3>{{ file_name }}</h3>
        <br/>
         <video width="50%" height="50%" controls>
          <source src="/file/{{ chapter }}{{ folder }}{{ file.video }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <textarea class="text" link="/file/{{ chapter }}{{ folder }}{{ file.annotation }}"></textarea>
    </p>
    <hr>
{% endfor %}
</body>

<script>
    $(document).ready(function(){
        $(".text").each(function() {
            link = $(this).attr("link");
            var source = $(this);
            $.get(link, function(data) {
                source.append(data.toString());
            });
        });
    });
    tinymce.init({
        selector: 'textarea',
        height: 'auto',
        width: '50%',
        menubar: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste'
        ],
        toolbar: 'save | insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'],
        setup: function (editor) {
            editor.addButton('save', {
              text: 'Save',
              icon: "mce-ico mce-i-save",
              onclick: function () {
                editor.insertContent('&nbsp;<b>It\'s my button!</b>&nbsp;');
              }
            });
          }
    });

</script>
</html>