<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <title>{{ chapter }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/tinymce/tinymce.min.js"></script>
    <style>
        textarea {
          width: 420px;
          height: 210px;
        }
    </style>
</head>
<body>
<h1>{{ chapter }}</h1>
<a href="/">INICIO</a>
<h3>Folders</h3>
{% for folder in folders %}
    <p><a href="/chapter/{{ chapter }}{{ folder }}/">{{ folder }}</a></p>
{% endfor %}

<h3>Files</h3>
{% for file_name, file in files %}
    <p>
        <h3>{{ file_name }}</h3>
        <br/>
         <video id="{{ file_name }}" width="100%" height="50%" controls>
          <source src="/file/{{ chapter }}{{ folder }}{{ file.video }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        {% if  file.annotation %}
            <textarea class="annotation" video="{{ file_name }}" link="{{ chapter }}{{ folder }}{{ file.annotation }}"></textarea>
        {% else %}
            <button>Create Annotation</button>
        {% endif %}
    </p>
    <hr>
{% endfor %}
</body>

<script>
    $(document).ready(function(){
        tinymce.init({
            selector: 'textarea',
            height: 'auto',
            width: '100%',
            menubar: true,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste'
            ],
            toolbar: 'save | reload | time_video | insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'],
            init_instance_callback : function(editor){
                  load_file(editor.id);
            },
            setup: function (editor) {

                editor.addButton('reload', {
                    text: 'Reload',
                    icon: "mce-ico mce-i-reload",
                    onclick: function () {
                        load_file(editor.id);
                  }
                });

                editor.addButton('time_video', {
                    text: 'Time Video',
                    icon: "mce-ico mce-i-notice",
                    onclick: function () {
                        var video_id = $("#"+editor.id).attr("video");
                        var video_time = $("[id='"+video_id+"']")[0].currentTime;
                        editor.insertContent('<p><b>'+format_time(video_time)+'</b> - </p>');
                  }
                });

                editor.addButton('save', {
                  text: 'Save',
                  icon: "mce-ico mce-i-save",
                  onclick: function () {
                      var path = $("#"+editor.id).attr("link");
                      var posting = $.post( "/save", { file_name: path, text: editor.getContent().toString()});
                      posting.done(function( data ) {
                        alert(data);
                      });
                  }
                });
              }
        });
    });
    function load_file(tag_id){
        var path = $("#" + tag_id).attr("link");
        $.get({cache: false, url: "/file/" + path}, function (data) {
          var iframe = $("#" + tag_id + "_ifr");
          $("body", iframe.contents()).children().remove();
          $("body", iframe.contents()).append(data.toString());
       });
    }
      function format_time(time){
        var seconds = Math.floor(time) % 60;
        if (seconds < 10){
            seconds = "0"+seconds;
        }
        var minutes = parseInt((Math.floor(time) / 60) % 60);
        if (minutes < 10){
            minutes = "0"+minutes;
        }
        return minutes+":"+seconds;
    }

</script>
</html>